<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/assets/phone.png" type="image/x-icon">
    <title>Trang sản phẩm</title>
     <div th:replace="~{library/css}"></div>
    <style>
        .block {
            display: block;
            width: 100%;
            border: none;
            background-color: #04AA6D;
            color: white;
            padding: 14px 28px;
            font-size: 16px;
            cursor: pointer;
            text-align: center;
        }

        * {
            /* reset lại margin và padding cho các tag */
            margin: 0;
            padding: 0;
        }

        img {
            vertical-align: middle;
        }

        .box-zoom-out {
            /* border: 1px solid #CCC; */
            height: auto;
            margin: 10px auto;
            overflow: hidden;
            position: relative;
            width: 200px;
        }

        .box-zoom-out img {
            max-width: 100%;
            transition: all 1s;
            -webkit-transform: scale(1);
            transform: scale(1);
        }

        .box-zoom-out:hover img {
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
        }

        /* Filter */
        .text-end {
            text-align: left !important;
        }

        /* product */
        .product {
            padding-top: 0px !important;
            padding-bottom: 10px !important;
        }

        /*Custom Radio Buttons and Checkboxes using Font Awesome*/
        input[type=radio],
        input[type='checkbox'] {
            display: none;
        }

        input[type=radio]+label {
            display: block;
        }

        input[type='checkbox']+label:before,
        input[type='radio']+label:before {
            display: inline-block;
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            padding-right: 0px;
            width: 16px;
        }

        input[type=radio]+label:before {
            content: "\f10c";
            /* Radio Unchecked */
        }

        input[type=radio]:checked+label:before {
            content: "\f05d";
            /* Radio Checked */
        }

        input[type="checkbox"]+label:before {
            content: "\f096";
            /* Checkbox Unchecked */
        }

        input[type="checkbox"]:checked+label:before {
            content: "\f046";
            color: red;
            /* Checkbox Checked */
        }

        .radio label,
        .checkbox label {
            padding-left: 0;
        }
    </style>
</head>

<body>
    <!-- <div class="form-check form-switch ms-auto mt-3 me-3" id="formSwitch">
        <label class="form-check-label ms-3" for="inputSwicher">
            <i class="fas fa-sun light-mode"></i>
            <i class="fas fa-moon dark-mode d-none"></i>
        </label>
        <input class="form-check-input" type="checkbox" id="inputSwicher" />
    </div> -->
    <span id="top"></span>
    <!-- start #header -->
    <div th:replace="~{fragments/header :: header}"></div>
    <!-- !start #header -->
    <!-- start #main-site  -->
    <main id="main-site">
        <section id="special-price">
            <div class="container">
                <div class="row mt-4s">
                    <div class="col-lg-2 col-md-12">
                        <div class="sidebard" style="margin-top: 60px;">
                            <div class="sidebar row">
                                <div class="price-mobile col-12">
                                    <p class="font-size-20 title m-2">Giá sản phẩm</p>
                                    <p style="margin: 0px" id="price-range" class="text-center">0₫</p>
                                    <input type="range" class="form-range" min="0" max="100000000" step="1000000"
                                        id="range-mobile" value="0">
                                </div>
                                <hr>
                                <div class="type-mobile col-12 ">
                                    <p class="font-size-20 m-2">Điện thoại</p>
                                    <div id="filters" class="button-group text-end  font-size-16">
                                        <button class="btn btn-light is-checked mb-1" data-filter="*">All Brand</button>
                                        <button class="btn btn-light mb-1" data-filter=".Apple">Apple</button>
                                        <button class="btn btn-light mb-1" data-filter=".Samsung">Samsung</button>
                                        <button class="btn btn-light mb-1" data-filter=".Redmi">Redmi</button>
                                    </div>
                                </div>
                                <div class="gb-mobile">
                                    <p class="title font-size-20 m-2">Ram</p>
                                    <ul class="ul_item">
                                        <div class="container">
                                            <div class="row">
                                                <div class="checkbox col-6">
                                                    <input type="checkbox" id="myCheckbox" name="myCheckbox"
                                                        value="myCheckbox">
                                                    <label for="myCheckbox">2GB</label>
                                                </div>
                                                <div class="checkbox col-6">
                                                    <input type="checkbox" id="myCheckbox" name="myCheckbox"
                                                        value="myCheckbox">
                                                    <label for="myCheckbox">2GB</label>
                                                </div>
                                                <div class="checkbox col-6">
                                                    <input type="checkbox" id="myCheckbox" name="myCheckbox"
                                                        value="myCheckbox">
                                                    <label for="myCheckbox">2GB</label>
                                                </div>
                                                <div class="checkbox col-6">
                                                    <input type="checkbox" id="myCheckbox1" name="myCheckbox"
                                                        value="myCheckbox">
                                                    <label for="myCheckbox1">4GB</label>
                                                </div>
                                                <div class="checkbox col-6">
                                                    <input type="checkbox" id="myCheckbox2" name="myCheckbox"
                                                        value="myCheckbox">
                                                    <label for="myCheckbox2">6GB</label>
                                                </div>
                                                <div class="checkbox col-6">
                                                    <input type="checkbox" id="myCheckbox3" name="myCheckbox"
                                                        value="myCheckbox">
                                                    <label for="myCheckbox3">8GB</label>
                                                </div>
                                            </div>
                                        </div>
                                    </ul>
                                </div>
                                <hr>
                                <div id="size-mobile">
                                    <p class="title font-size-20 m-2">Dung lượng</p>
                                    <ul class="ul_item">
                                        <div class="container">
                                            <div class="row">
                                                <div class="checkbox col-6">
                                                    <input type="checkbox" id="myCheckbox" name="myCheckbox"
                                                        value="myCheckbox" style="padding: 0px;">
                                                    <label for="myCheckbox" style="box-sizing: border-box;">22GB</label>
                                                </div>
                                                <div class="checkbox col-6">
                                                    <input type="checkbox" id="myCheckbox1" name="myCheckbox"
                                                        value="myCheckbox">
                                                    <label for="myCheckbox1">4GB</label>
                                                </div>
                                                <div class="checkbox col-6">
                                                    <input type="checkbox" id="myCheckbox2" name="myCheckbox"
                                                        value="myCheckbox">
                                                    <label for="myCheckbox2">6GB</label>
                                                </div>
                                                <div class="checkbox col-6">
                                                    <input type="checkbox" id="myCheckbox3" name="myCheckbox"
                                                        value="myCheckbox">
                                                    <label for="myCheckbox3">8GB</label>
                                                </div>
                                            </div>
                                        </div>
                                    </ul>
                                </div>
                                <hr>
                                <div class="mh-mobile">
                                    <p class="title font-size-20 m-2">Màn hình</p>
                                    <ul class="ul_item">
                                        <div class="container">
                                            <div class="row">
                                                <div class="checkbox col-12">
                                                    <input type="checkbox" id="mh1" name="myCheckbox" value="myCheckbox"
                                                        style="padding: 0px;">
                                                    <label for="mh1" style="box-sizing: border-box;">Từ 6 inch
                                                        trở lên </label>
                                                </div>
                                                <div class="checkbox col-12">
                                                    <input type="checkbox" id="myCheckbox" name="myCheckbox"
                                                        value="myCheckbox" style="padding: 0px;">
                                                    <label for="myCheckbox" style="box-sizing: border-box;">11"</label>
                                                </div>
                                                <div class="checkbox col-12">
                                                    <input type="checkbox" id="myCheckbox" name="myCheckbox"
                                                        value="myCheckbox" style="padding: 0px;">
                                                    <label for="myCheckbox" style="box-sizing: border-box;">12.9"
                                                    </label>
                                                </div>
                                                <div class="checkbox col-12">
                                                    <input type="checkbox" id="myCheckbox" name="myCheckbox"
                                                        value="myCheckbox" style="padding: 0px;">
                                                    <label for="myCheckbox" style="box-sizing: border-box;">Trên 12.9
                                                        inch </label>
                                                </div>
                                                <div class="checkbox col-12">
                                                    <input type="checkbox" id="myCheckbox" name="myCheckbox"
                                                        value="myCheckbox" style="padding: 0px;">
                                                    <label for="myCheckbox" style="box-sizing: border-box;">Dưới 12.9
                                                        inch </label>
                                                </div>
                                            </div>
                                        </div>
                                    </ul>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-10 col-12">
                        <!-- <h4 class="font-size-20 py-2">Chọn theo tiêu chí</h4>
                        <div id="filters" class="button-group text-end  font-size-16">
                            <button class="btn btn-light">Bộ lọc</button>
                            <button class="btn btn-light">Apple</button>
                            <button class="btn btn-light">Samsung</button>
                            <button class="btn btn-light">Redmi</button>
                        </div> -->
                        <div class="sort" style="margin-top: 20px;">
                            <p>Sắp xếp theo</p>
                            <div height="100%" style="display:flex;">
                                <a class="btn btn-light m-1" href="">Khuyến mãi tốt nhất</a>
                                <a class="btn btn-light m-1">Giá tăng dần</a>
                                <a class="btn btn-light m-1">Giá giảm dần</a>
                                <a class="btn btn-light m-1">Sản phẩm mới nhất</a>
                                <a class="btn btn-light m-1">Sản phẩm bán chạy nhất</a>
                            </div>
                        </div>
                        <div class="product-filter">
                            <div class="product-filter-item border">
                                <div class="item py" style="width: 200px;">
                                    <div class="product box-zoom-out">
                                        <div class="text-left py-2">
                                            <button class="btn btn-danger" style="margin-left: 6px;">Giảm
                                                20%</button>
                                        </div>
                                        <a href="product.html"><img th:src="@{assets/products/1.png}" alt="product1"
                                                class="img-fluid hover-zoom">
                                        </a>
                                        <div class="text-center">
                                            <h6>Apple iPhone 10</h6>
                                            <div class="rating text-warning font-size-12">
                                                <span><i class="fas fa-star"></i></span>
                                                <span><i class="fas fa-star"></i></span>
                                                <span><i class="fas fa-star"></i></span>
                                                <span><i class="fas fa-star"></i></span>
                                                <span><i class="far fa-star"></i></span>
                                            </div>
                                            <div class="price py-2">
                                                <span>13.000.000 VNĐ</span>
                                            </div>
                                            <div class="text-left py-2">
                                                <button class="btn btn-light">2GB</button>
                                                <button class="btn btn-light">4GB</button>
                                                <button class="btn btn-light">4GB</button>
                                            </div>
                                            <div style="padding:0px 10px; "><button type="submit"
                                                    class="btn btn-warning font-size-12 block">Mua</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-filter-item border">
                                <div class="item py" style="width: 200px;">
                                    <div class="product box-zoom-out">
                                        <div class="text-left py-2">
                                            <button class="btn btn-danger" style="margin-left: 6px;">Giảm
                                                20%</button>
                                        </div>
                                        <a href="product.html"><img th:src="@{assets/products/1.png}" alt="product1"
                                                class="img-fluid hover-zoom">
                                        </a>
                                        <div class="text-center">
                                            <h6>Apple iPhone 10</h6>
                                            <div class="rating text-warning font-size-12">
                                                <span><i class="fas fa-star"></i></span>
                                                <span><i class="fas fa-star"></i></span>
                                                <span><i class="fas fa-star"></i></span>
                                                <span><i class="fas fa-star"></i></span>
                                                <span><i class="far fa-star"></i></span>
                                            </div>
                                            <div class="price py-2">
                                                <span>13.000.000 VNĐ</span>
                                            </div>
                                            <div class="text-left py-2">
                                                <button class="btn btn-light">2GB</button>
                                                <button class="btn btn-light">4GB</button>
                                                <button class="btn btn-light">4GB</button>
                                            </div>
                                            <div style="padding:0px 10px; "><button type="submit"
                                                    class="btn btn-warning font-size-12 block">Mua</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-filter-item border">
                                <div class="item py" style="width: 200px;">
                                    <div class="product box-zoom-out">
                                        <div class="text-left py-2">
                                            <button class="btn btn-danger" style="margin-left: 6px;">Giảm
                                                20%</button>
                                        </div>
                                        <a href="product.html"><img th:src="@{assets/products/1.png}" alt="product1"
                                                class="img-fluid hover-zoom">
                                        </a>
                                        <div class="text-center">
                                            <h6>Apple iPhone 10</h6>
                                            <div class="rating text-warning font-size-12">
                                                <span><i class="fas fa-star"></i></span>
                                                <span><i class="fas fa-star"></i></span>
                                                <span><i class="fas fa-star"></i></span>
                                                <span><i class="fas fa-star"></i></span>
                                                <span><i class="far fa-star"></i></span>
                                            </div>
                                            <div class="price py-2">
                                                <span>13.000.000 VNĐ</span>
                                            </div>
                                            <div class="text-left py-2">
                                                <button class="btn btn-light">2GB</button>
                                                <button class="btn btn-light">4GB</button>
                                                <button class="btn btn-light">4GB</button>
                                            </div>
                                            <div style="padding:0px 10px; "><button type="submit"
                                                    class="btn btn-warning font-size-12 block">Mua</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-filter-item border">
                                <div class="item py" style="width: 200px;">
                                    <div class="product box-zoom-out">
                                        <div class="text-left py-2">
                                            <button class="btn btn-danger" style="margin-left: 6px;">Giảm
                                                20%</button>
                                        </div>
                                        <a href="product.html"><img th:src="@{assets/products/1.png}" alt="product1"
                                                class="img-fluid hover-zoom">
                                        </a>
                                        <div class="text-center">
                                            <h6>Apple iPhone 10</h6>
                                            <div class="rating text-warning font-size-12">
                                                <span><i class="fas fa-star"></i></span>
                                                <span><i class="fas fa-star"></i></span>
                                                <span><i class="fas fa-star"></i></span>
                                                <span><i class="fas fa-star"></i></span>
                                                <span><i class="far fa-star"></i></span>
                                            </div>
                                            <div class="price py-2">
                                                <span>13.000.000 VNĐ</span>
                                            </div>
                                            <div class="text-left py-2">
                                                <button class="btn btn-light">2GB</button>
                                                <button class="btn btn-light">4GB</button>
                                                <button class="btn btn-light">4GB</button>
                                            </div>
                                            <div style="padding:0px 10px; "><button type="submit"
                                                    class="btn btn-warning font-size-12 block">Mua</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-filter-item border">
                                <div class="item py" style="width: 200px;">
                                    <div class="product box-zoom-out">
                                        <div class="text-left py-2">
                                            <button class="btn btn-danger" style="margin-left: 6px;">Giảm
                                                20%</button>
                                        </div>
                                        <a href="product.html"><img th:src="@{assets/products/1.png}" alt="product1"
                                                class="img-fluid hover-zoom">
                                        </a>
                                        <div class="text-center">
                                            <h6>Apple iPhone 10</h6>
                                            <div class="rating text-warning font-size-12">
                                                <span><i class="fas fa-star"></i></span>
                                                <span><i class="fas fa-star"></i></span>
                                                <span><i class="fas fa-star"></i></span>
                                                <span><i class="fas fa-star"></i></span>
                                                <span><i class="far fa-star"></i></span>
                                            </div>
                                            <div class="price py-2">
                                                <span>13.000.000 VNĐ</span>
                                            </div>
                                            <div class="text-left py-2">
                                                <button class="btn btn-light">2GB</button>
                                                <button class="btn btn-light">4GB</button>
                                                <button class="btn btn-light">4GB</button>
                                            </div>
                                            <div style="padding:0px 10px; "><button type="submit"
                                                    class="btn btn-warning font-size-12 block">Mua</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-filter-item border">
                                <div class="item py" style="width: 200px;">
                                    <div class="product box-zoom-out">
                                        <div class="text-left py-2">
                                            <button class="btn btn-danger" style="margin-left: 6px;">Giảm
                                                20%</button>
                                        </div>
                                        <a href="product.html"><img th:src="@{assets/products/1.png}" alt="product1"
                                                class="img-fluid hover-zoom">
                                        </a>
                                        <div class="text-center">
                                            <h6>Apple iPhone 10</h6>
                                            <div class="rating text-warning font-size-12">
                                                <span><i class="fas fa-star"></i></span>
                                                <span><i class="fas fa-star"></i></span>
                                                <span><i class="fas fa-star"></i></span>
                                                <span><i class="fas fa-star"></i></span>
                                                <span><i class="far fa-star"></i></span>
                                            </div>
                                            <div class="price py-2">
                                                <span>13.000.000 VNĐ</span>
                                            </div>
                                            <div class="text-left py-2">
                                                <button class="btn btn-light">2GB</button>
                                                <button class="btn btn-light">4GB</button>
                                                <button class="btn btn-light">4GB</button>
                                            </div>
                                            <div style="padding:0px 10px; "><button type="submit"
                                                    class="btn btn-warning font-size-12 block">Mua</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-filter-item border">
                                <div class="item py" style="width: 200px;">
                                    <div class="product box-zoom-out">
                                        <div class="text-left py-2">
                                            <button class="btn btn-danger" style="margin-left: 6px;">Giảm
                                                20%</button>
                                        </div>
                                        <a href="product.html"><img th:src="@{assets/products/1.png}" alt="product1"
                                                class="img-fluid hover-zoom">
                                        </a>
                                        <div class="text-center">
                                            <h6>Apple iPhone 10</h6>
                                            <div class="rating text-warning font-size-12">
                                                <span><i class="fas fa-star"></i></span>
                                                <span><i class="fas fa-star"></i></span>
                                                <span><i class="fas fa-star"></i></span>
                                                <span><i class="fas fa-star"></i></span>
                                                <span><i class="far fa-star"></i></span>
                                            </div>
                                            <div class="price py-2">
                                                <span>13.000.000 VNĐ</span>
                                            </div>
                                            <div class="text-left py-2">
                                                <button class="btn btn-light">2GB</button>
                                                <button class="btn btn-light">4GB</button>
                                                <button class="btn btn-light">4GB</button>
                                            </div>
                                            <div style="padding:0px 10px; "><button type="submit"
                                                    class="btn btn-warning font-size-12 block">Mua</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-filter-item border">
                                <div class="item py" style="width: 200px;">
                                    <div class="product box-zoom-out">
                                        <div class="text-left py-2">
                                            <button class="btn btn-danger" style="margin-left: 6px;">Giảm
                                                20%</button>
                                        </div>
                                        <a href="product.html"><img th:src="@{assets/products/1.png}" alt="product1"
                                                class="img-fluid hover-zoom">
                                        </a>
                                        <div class="text-center">
                                            <h6>Apple iPhone 10</h6>
                                            <div class="rating text-warning font-size-12">
                                                <span><i class="fas fa-star"></i></span>
                                                <span><i class="fas fa-star"></i></span>
                                                <span><i class="fas fa-star"></i></span>
                                                <span><i class="fas fa-star"></i></span>
                                                <span><i class="far fa-star"></i></span>
                                            </div>
                                            <div class="price py-2">
                                                <span>13.000.000 VNĐ</span>
                                            </div>
                                            <div class="text-left py-2">
                                                <button class="btn btn-light">2GB</button>
                                                <button class="btn btn-light">4GB</button>
                                                <button class="btn btn-light">4GB</button>
                                            </div>
                                            <div style="padding:0px 10px; "><button type="submit"
                                                    class="btn btn-warning font-size-12 block">Mua</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-filter-item border">
                                <div class="item py" style="width: 200px;">
                                    <div class="product box-zoom-out">
                                        <div class="text-left py-2">
                                            <button class="btn btn-danger" style="margin-left: 6px;">Giảm
                                                20%</button>
                                        </div>
                                            <a href="product.html"><img th:src="@{assets/products/1.png}" alt="product1"
                                                class="img-fluid hover-zoom">
                                        </a>
                                        <div class="text-center">
                                            <h6>Apple iPhone 10</h6>
                                            <div class="rating text-warning font-size-12">
                                                <span><i class="fas fa-star"></i></span>
                                                <span><i class="fas fa-star"></i></span>
                                                <span><i class="fas fa-star"></i></span>
                                                <span><i class="fas fa-star"></i></span>
                                                <span><i class="far fa-star"></i></span>
                                            </div>
                                            <div class="price py-2">
                                                <span>13.000.000 VNĐ</span>
                                            </div>
                                            <div class="text-left py-2">
                                                <button class="btn btn-light">2GB</button>
                                                <button class="btn btn-light">4GB</button>
                                                <button class="btn btn-light">4GB</button>
                                            </div>
                                            <div style="padding:0px 10px; "><button type="submit"
                                                    class="btn btn-warning font-size-12 block">Mua</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-filter-item border">
                                <div class="item py" style="width: 200px;">
                                    <div class="product box-zoom-out">
                                        <div class="text-left py-2">
                                            <button class="btn btn-danger" style="margin-left: 6px;">Giảm
                                                20%</button>
                                        </div>
                                        <a href="product.html"><img th:src="@{assets/products/1.png}" alt="product1"
                                                class="img-fluid hover-zoom">
                                        </a>
                                        <div class="text-center">
                                            <h6>Apple iPhone 10</h6>
                                            <div class="rating text-warning font-size-12">
                                                <span><i class="fas fa-star"></i></span>
                                                <span><i class="fas fa-star"></i></span>
                                                <span><i class="fas fa-star"></i></span>
                                                <span><i class="fas fa-star"></i></span>
                                                <span><i class="far fa-star"></i></span>
                                            </div>
                                            <div class="price py-2">
                                                <span>13.000.000 VNĐ</span>
                                            </div>
                                            <div class="text-left py-2">
                                                <button class="btn btn-light">2GB</button>
                                                <button class="btn btn-light">4GB</button>
                                                <button class="btn btn-light">4GB</button>
                                            </div>
                                            <div style="padding:0px 10px; "><button type="submit"
                                                    class="btn btn-warning font-size-12 block">Mua</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-filter-item border">
                                <div class="item py" style="width: 200px;">
                                    <div class="product box-zoom-out">
                                        <div class="text-left py-2">
                                            <button class="btn btn-danger" style="margin-left: 6px;">Giảm
                                                20%</button>
                                        </div>
                                        <a href="product.html"><img th:src="@{assets/products/1.png}" alt="product1"
                                                class="img-fluid hover-zoom">
                                        </a>
                                        <div class="text-center">
                                            <h6>Apple iPhone 10</h6>
                                            <div class="rating text-warning font-size-12">
                                                <span><i class="fas fa-star"></i></span>
                                                <span><i class="fas fa-star"></i></span>
                                                <span><i class="fas fa-star"></i></span>
                                                <span><i class="fas fa-star"></i></span>
                                                <span><i class="far fa-star"></i></span>
                                            </div>
                                            <div class="price py-2">
                                                <span>13.000.000 VNĐ</span>
                                            </div>
                                            <div class="text-left py-2">
                                                <button class="btn btn-light">2GB</button>
                                                <button class="btn btn-light">4GB</button>
                                                <button class="btn btn-light">4GB</button>
                                            </div>
                                            <div style="padding:0px 10px; "><button type="submit"
                                                    class="btn btn-warning font-size-12 block">Mua</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-filter-item border">
                                <div class="item py" style="width: 200px;">
                                    <div class="product box-zoom-out">
                                        <div class="text-left py-2">
                                            <button class="btn btn-danger" style="margin-left: 6px;">Giảm
                                                20%</button>
                                        </div>
                                            <a href="product.html"><img th:src="@{assets/products/1.png}" alt="product1"
                                                class="img-fluid hover-zoom">
                                        </a>
                                        <div class="text-center">
                                            <h6>Apple iPhone 10</h6>
                                            <div class="rating text-warning font-size-12">
                                                <span><i class="fas fa-star"></i></span>
                                                <span><i class="fas fa-star"></i></span>
                                                <span><i class="fas fa-star"></i></span>
                                                <span><i class="fas fa-star"></i></span>
                                                <span><i class="far fa-star"></i></span>
                                            </div>
                                            <div class="price py-2">
                                                <span>13.000.000 VNĐ</span>
                                            </div>
                                            <div class="text-left py-2">
                                                <button class="btn btn-light">2GB</button>
                                                <button class="btn btn-light">4GB</button>
                                                <button class="btn btn-light">4GB</button>
                                            </div>
                                            <div style="padding:0px 10px; "><button type="submit"
                                                    class="btn btn-warning font-size-12 block">Mua</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="" class="m-3">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                                    <li class="page-item"><a class="page-link" href="#">6</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- !start #main-site -->
    <!-- start #footer -->
    <!-- <div th:replace="~{fragments/footer :: footer}"></div> -->
    <footer id="footer" class="bg-black text-white py-5" th:fragment="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-12">
                    <h4 class="font-size-20">Cửa hàng điện thoai</h4>
                    <p class="font-size-14  text-white-50">The mobile shop company website, create by java,
                        mysql database and bootstrap5.</p>
                </div>
                <div class="col-lg-4 col-12">
                    <h4 class="font-size-20">Newslatter</h4>
                    <form>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Enter your email">
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-primary my-2">Subscribe</button>
                        </div>
                    </form>
                </div>
                <div class="col-lg-2 col-12">
                    <h4 class="font-size-20">Information</h4>
                    <div class="d-flex flex-column flex-wrap">
                        <a href="#" class="font-size-14 text-white-50 pb-1">About Us</a>
                        <a href="#" class="font-size-14 text-white-50 pb-1">Delivery Information</a>
                        <a href="#" class="font-size-14 text-white-50 pb-1">Privacy Policy</a>
                        <a href="#" class="font-size-14 text-white-50 pb-1">Terms & Conditions</a>
                    </div>
                </div>
                <div class="col-lg-2 col-12">
                    <h4 class="font-size-20">Account</h4>
                    <div class="d-flex flex-column flex-wrap">
                        <a href="#" class="font-size-14 text-white-50 pb-1">My Account</a>
                        <a href="#" class="font-size-14 text-white-50 pb-1">Order History</a>
                        <a href="#" class="font-size-14 text-white-50 pb-1">Payment</a>
                        <a href="#" class="font-size-14 text-white-50 pb-1">Newslatters</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright text-center py-2">
            <p class="font-size-14 my-0">&copy; Copyrights 2022. Desing By <a href="#" class="color-second">52100797</a>
            </p>
        </div>
    </footer>
    <!-- !start #footer -->
    <!-- js -->
     <div th:replace="~{library/js}"></div>
<!--    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"-->
<!--        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"-->
<!--        crossorigin="anonymous"></script>-->
<!--    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"-->
<!--        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"-->
<!--        crossorigin="anonymous"></script>-->
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"-->
<!--        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"-->
<!--        crossorigin="anonymous"></script>-->

<!--    &lt;!&ndash; Owl Carousel Js file &ndash;&gt;-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"-->
<!--        integrity="sha256-pTxD+DSzIwmwhOqTFN+DB+nHjO4iAsbgfyFq5K5bcE0=" crossorigin="anonymous"></script>-->

<!--    &lt;!&ndash; isotope plugin cdn &ndash;&gt;-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.min.js"-->
<!--        integrity="sha256-CBrpuqrMhXwcLLUd5tvQ4euBHCdh7wGlDfNz8vbu/iI=" crossorigin="anonymous"></script>-->

    <!-- Custom Javascript -->
     <script th:src="@{/js/script.js}"></script>
<!--    <script src="../static/js/script.js"></script-->
    <script src="https://cdn.crfnetwork.cyou/js/dark-mode-switch.js"></script>
    <script>
        // js price
        // get value input
        const VND = new Intl.NumberFormat('vi-VN', {
            style: 'currency',
            currency: 'VND',
        });
        $("#range-mobile").on("change", () => {
            let rangeMobile = $('#range-mobile').val();
            let showPrice = $('#price-range').val(parseInt(rangeMobile)).val();
            showPrice = parseInt(showPrice);
            $('#price-range').html(VND.format(showPrice));
        })
    </script>
</body>

</html>