<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
</head>
<body>
<h2>Product List</h2>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Color</th>
        <th>Information</th>
        <th>Original Picture</th>
        <th>Size</th>
        <th>View Count</th>
        <th>Actions</th>
    </tr>
    <tr th:each="product : ${products}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.description}"></td>
        <td th:text="${product.color}"></td>
        <td th:text="${product.information}"></td>
        <td th:text="${product.originalPicture}"></td>
        <td th:text="${product.size}"></td>
        <td th:text="${product.viewCount}"></td>
        <td>
            <a th:href="@{/product-management/products/__${product.id}/edit}">Edit</a>
            <a th:href="@{/product-management/products/__${product.id}/delete}">Delete</a>
        </td>
    </tr>
</table>
<a th:href="@{/product-management/products/new}">Add New Product</a>
</body>
</html>
